[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file="https://download.pytorch.org/whl/cu111/torch-1.9.0%2Bcu111-cp37-cp37m-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu111/torchvision-0.10.0%2Bcu111-cp37-cp37m-linux_x86_64.whl"}
tensorboard = "<2"
Pillow = ">=7.0.0"
setuptools = "==59.5.0"

[dev-packages]
mypy = "*"
black = "*"
pipenv-to-requirements = "*"
pipenv-setup = "*"

[requires]
python_version = "3.7"
